<div class="jumbotron">
  <center>
    <h1><%= @pizza.name %></h1>
    <img src="<%= @pizza.image %>">
  </center>
  <h3>Crust: <%= @pizza.crust %></h3>
  <h3>Toppings: <%= @pizza.toppings %></h3>
  <h3>Cost: $<%= @pizza.cost %></h3>
</div>